<div class="container justify-content-center ">
<header>
  <h3 class="text-white text-center text-bold">Counter App</h3>
</header>
<br>
<br>
<div >
    <!-- <div class="row">
        <div class="col-lg-8">
            <h3 class="text-skyblue text-bold">Current Count: {{count}}</h3>
      
        </div> -->
        <h3 class="text-blue text-center text-bold">Current Count: {{count}}</h3>

      <!-- </div> -->
      <br>
<div class="row">
  <div class="col-lg-6">
      <button class="btn btn-info"    (click)="onIncrease()">Increase Count</button>

  </div>
</div>
<div class="row">
  <div class="col-lg-6">
      <button class="btn btn-primary" (click)="onDecrease()">Decrease Count</button>

  </div>
</div>
<div class="row">
  <div class="col-lg-6">
      <button class="btn btn-danger"  (click)="onReset()">Reset Count</button>

  </div>
</div>
 

</div>
</div>