/* You can add global styles to this file, and also import other style files */

@import "~bootstrap/dist/css/bootstrap.min.css";
body{
    margin:0;
    padding: 0;
    box-sizing: border-box;
    background-size: cover;
    width: auto;
    background-image: url('./assets/img.jpeg');
    background-position: top;
}